<table id="statsTable" style="width: 100%;">
    <thead>
    <tr>
        <th class="IEBOLD"></th>
        <th class="IEBOLD" onclick="sortStats(1)">Player</th>
        <th class="IEBOLD" onclick="sortStats(2)">🏅 Medals</th>
        <th class="IEBOLD" onclick="sortStats(3)">🥇 Top 1</th>
        <th class="IEBOLD" onclick="sortStats(4)">🥈 Top 2</th>
        <th class="IEBOLD" onclick="sortStats(5)">🥉 Top 3</th>
        <th class="IEBOLD" onclick="sortStats(6)">Wins</th>
        <th class="IEBOLD" onclick="sortStats(7)">Ties</th>
        <th class="IEBOLD" onclick="sortStats(8)">Loses</th>
        <th class="IEBOLD" onclick="sortStats(9)">Goals Scored</th>
        <th class="IEBOLD" onclick="sortStats(10)">Goals Taken</th>
        <th class="IEBOLD" onclick="sortStats(11)">Tournaments Count</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="TR : ${players}">
        <td class="IEStrike mb-0" th:text="${TR.get('Count')}"></td>
        <td style="text-align: left;">
            <a th:href="'/p/'+ ${TR.getAsLong('DiscordID')}" style="display: flex; align-items: center; text-decoration: none; color: white;">
                <img th:src="${TR.getAsString('AvatarURL')}" onerror="this.src='/img/AvatarDefault.png'" alt="">
                <p class="IEStrike mb-0" th:text="${TR.getAsString('FullName')}"></p>
            </a>
        </td>
        <td class="IEStrike mb-0" th:text="${TR.getAsInt('Medals')}"></td>
        <td class="IEStrike mb-0" th:text="${TR.getAsInt('T1')}"></td>
        <td class="IEStrike mb-0" th:text="${TR.getAsInt('T2')}"></td>
        <td class="IEStrike mb-0" th:text="${TR.getAsInt('T3')}"></td>
        <td class="IEStrike mb-0" th:text="${TR.getAsInt('Wins')}"></td>
        <td class="IEStrike mb-0" th:text="${TR.getAsInt('Ties')}"></td>
        <td class="IEStrike mb-0" th:text="${TR.getAsInt('Loses')}"></td>
        <td class="IEStrike mb-0" th:text="${TR.getAsInt('GoalsScored')}"></td>
        <td class="IEStrike mb-0" th:text="${TR.getAsInt('GoalsTaken')}"></td>
        <td class="IEStrike mb-0" th:text="${TR.getAsInt('TCount')}"></td>
    </tr>
    </tbody>
</table>