<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="MASTERCONTENT">

<head layout:fragment="head">
    <title>Error | Inazuma Competitive</title>
    <link id="tabIcon" rel="icon" href="/img/avatar.png" type="image/png">
    <style>
        main {
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/img/bg.jpg");
        }
        header, footer, .dropdown, #loading {
            background-color: #222222;
        }
    </style>
</head>

<main layout:fragment="content">
    <div style="display: flex; justify-content: center; align-items: center;">
        <h1 class="IEBOLD" style="margin-top: 250px;">This page doesn't exist.</h1>
    </div>
</main>

</html>